{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}
  {{ action }} Favorite URL
{% endblock title %}
{% block content %}
  <h1>{{ action }} Favorite URL</h1>
  <form class="form-horizontal" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="control-group">
      <div class="controls">
        {% if action == "Create" %}
          <button type="submit" class="btn btn-primary">Add</button>
        {% elif action == "Edit" %}
          <button type="submit" class="btn btn-primary">Update</button>
        {% endif %}
      </div>
    </div>
  </form>
{% endblock content %}
